.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
    appearance: none
}

.custom-scrollbar::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
}  

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #555366;
    border-radius: 30px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@tailwind base;
@tailwind components;
@tailwind utilities;